{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="ui container">
    <h2 class="ui center aligned header">Web Development Portfolio</h2>

    <div class="ui link stackable centered cards">
      <div class="card">
        <div class="image">
          <img src="http://placehold.it/600x600">
        </div>
        <div class="content">
          <div class="header">GardenHub</div>
          <div class="meta">
            <a>co-creator</a>
          </div>
          <div class="description">
            Specializing in Django based websites.
          </div>
        </div>
      </div>
    </div>

    <h2 class="ui center aligned header">About Candlwaster</h2>

    <div class="ui container">
      <img class="ui medium circular image" src="http://placehold.it/600x600">
      <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
    </div>

</div>
{% endblock %}
