.banner {
  background-image: url(/static/images/succulents.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  position: relative;
}

@media(min-width:1100px){
  .banner {
    height: 300px;
  }
}

.banner h1.header {
  position: absolute;
  bottom: 0px;
  padding: 10px 40px;
  font-size: 4vw;
}

@media(max-width:1100px){
  .banner h1.header {
    font-size: 4.5vw;
  }
}

@media(max-width:900px){
  .banner h1.header {
    font-size: 6vw;
  }
}

@media(max-width:700px){
  .banner h1.header {
    padding: 10px 10px;
    font-size: 8vw;
  }
}

.ui.grey.item.stackable.menu {
  margin: 0px 0px 80px;
}

.container {
  margin: 80px auto;
}

/* CARDS */

.ui.cards {
  width: 100%;
  justify-content: space-around;
}

.block-portal_card {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.block-portfolio_cards {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.block-portfolio_cards .card .extra.content {
  border-top: 1px solid #a9a9a9;
  margin-top: 10px;
  padding-top: 5px;
  color: #a9a9a9;
}


/* INFO SECTION STYLES */

.image-info.ui.segment{
  display: flex;
  justify-content: space-around;
}

.image-info .profile-img {
  display: flex;
  align-items: center;
}

@media(max-width:770px) {
  .image-info .profile-img {
    display: none;
  }
}

.image-info .about {
  margin: 0px 20px;
  max-width: 600px;
}

.image-info.ui.segment .about p {
  padding: 5px;
}

.image-info.ui.segment .about h2 {
  padding: 10px;
}
