html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: #fafafb;
}

body {
  width: 100%;
  font-family: 'Scope One', serif;
  background-color: #fafafb;
}

.main-content {
  width: 100%;
  margin: 0 auto;
  height: auto;
  background-color: #fafafb;
}

.main-content .ui.header {
  font-family: 'Karla', sans-serif;
}

.banner {
  background-image: url(../images/succulents.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  position: relative;
  max-width: 2000px;
}

a .banner h1.header{
  color: #716482;
  font-family: 'Muli', sans-serif;
}

a .banner h1.header:hover{
  color: #6b6b6b;
  transition: .3s;
}

@media(min-width:1100px){
  .banner {
    height: 300px;
  }
}

.banner h1.header {
  position: absolute;
  top: 0px;
  padding: 40px 40px;
  font-size: 3vw;
}

@media(max-width:1100px){
  .banner h1.header {
    font-size: 3vw;
  }
}

@media(max-width:900px){
  .banner h1.header {
    font-size: 3vw;
  }
}

@media(max-width:700px){
  .banner h1.header {
    padding: 10px 10px;
    font-size: 8vw;
  }
}

.ui.grey.item.stackable.menu {
  margin: 0px 0px 80px;
  font-family: 'Scope One', serif;
  font-size: 18px;
}

.container {
  margin: 80px auto;
  max-width: 1000px;
}

.ui.center.aligned.header.main::after {
  content: "";
  margin: 40px auto;
  display: block;
  width: 100px;
  border-top: 1px solid #6b6b6b;
}

/* NEW HOME */
div.ui.container.home-very-outer {
  max-width: 1000px !important;
}

.display-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #DCDCDC;
}

.home-outer-container {
  display: flex;
}

.home-outer-container div.ui.container {
  margin-top: 0px;
  margin-bottom: 50px;
}

@media(max-width:800px) {
  .home-outer-container {
    flex-direction: column;
  }
}

.home-side-nav {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}

@media(max-width:800px) {
  .home-side-nav {
    margin-top: 0px;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
}

.home-side-nav .nav-item a {
  color: #716482;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  transition: all .35s ease-in-out;
}

.home-side-nav .nav-item a:hover  {
  border-bottom: 1px solid #716482;
}

.ui.container.home-sections {
  max-width: 80% !important;
  margin-left: 50px !important;
}

@media(max-width:800px) {
  .ui.container.home-sections {
    max-width: 100% !important;
    margin-left: 10px !important;
  }
}

.home-sections h2 {
  text-align: left;
}

div.ui.segment.home-section.image-info {
  background-color: #fafafb;
  display: block;
}

div.ui.segment.home-section.image-info a {
  color: #716482;
  border-bottom: 1px solid transparent;
  transition: all .35s ease-in-out;
}

div.ui.segment.home-section.image-info a:hover {
  border-bottom: 1px solid #716482;
}

 div.about.text {
   margin: 0 auto;
 }

 @media(max-width:800px) {
   div.about.text {
     flex-direction: column;
   }
 }

 div.about.text div.profile-img {
   max-width: 30%;
   align-self: flex-start;
 }

 div.about.text div.profile-img img {
   width: 100%;
   align-self: flex-start;
   vertical-align: top;
 }

 div.about.text div.content {
   /* max-width: 70%; */
 }



/* OLD HOME */

.ui.home.blog.container {
  border: 1px solid rgba(34,36,38,.1);
  border-radius: 3px;
  display: flex;
  margin-top: 20px;
  height: 325px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  position: relative;
}

@media(max-width:999px) {
  .ui.home.blog.container {
    flex-direction: column;
    height: auto;
    width: 600px;
  }
}

@media(max-width:999px) {
  .ui.blog.header {
    text-align: center;
  }
}

.ui.home.blog.container .home_blog_fill_link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.ui.home.blog.container:hover {
  transform: translateY(-3px);
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
  cursor: pointer;
}

.ui.home.blog.container a {
  color: #716482;
}

.ui.home.blog.container .preview.content {
  margin: 30px;
}

.ui.home.blog.container .preview.image img {
  margin: 0px;
  height: 325px;
  border-radius: 3px;
}

@media(max-width:999px) {
  .ui.home.blog.container .preview.image img {
    width: 100%;
    height: auto;
  }
}


/* CARDS */

.ui.cards {
  width: 100%;
  justify-content: space-around;
}

.block-portal_card .ui.header {
  font-family: 'Karla', sans-serif;
}


.block-portfolio_cards .ui.header {
  font-family: 'Karla', sans-serif;
  margin-bottom: 5px;
}

.block-portfolio_cards .meta {
  margin-top: 5px;
  color: #716482;
}

.block-portal_card {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  font-family: 'Scope One', serif;
}

.block-portal_card p {
  color: black;
}

.block-portal_card a {
  color: #6b6b6b;
}

.block-portfolio_cards p {
  color: #6b6b6b;
}

.block-portfolio_cards a {
  color: #6b6b6b;
}

.block-portfolio_cards {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.block-portfolio_cards .card .content {
  position: relative;

}

.block-portfolio_cards .card .description {
  margin-bottom: 30px;
  padding: 10px 0;
  font-family: 'Scope One', serif;
}

.block-portfolio_cards .card .extra.content {
  border-top: 1px solid #6b6b6b;
  margin: 10px auto;
  padding-top: 5px;
  color: #6b6b6b;
  position: absolute;
  bottom: 0px;
  width: 90%;
}

.cards a:hover {
  color: #6b6b6b;
}

element.style {
}
.ui.cards a.card, .ui.link.card, .ui.link.cards .card, a.ui.card {
    -webkit-transform: none;
    transform: none;
}
.ui.card:last-child {
    margin-bottom: 0;
}
.ui.card:first-child {
    margin-top: 0;
}
.ui.card {
    margin: 1em 0;
}

.ui.card .subtitle {
    margin: 0px auto 10px auto;
    font-family: Lato;
}

.ui.card, .block-portfolio_cards .ui.cards>.card {
  width: 300px;
}

/* INFO SECTION STYLES */

.image-info.ui.segment{
  background-color: #fafafb;
  display: flex;
  justify-content: space-around;
  border: none;
  box-shadow: none;
}

.image-info .profile-img {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: 10px;
  padding-bottom: 0px;
}

@media(max-width:770px) {
  .image-info .profile-img {
    display: none;
  }
}

.image-info .about {
  margin: 0px 0px;
  max-width: 600px;
}

.image-info.ui.segment .about p {
  padding: 5px;
  font-size: 18px;
  font-family: 'Scope One', serif;
}

.image-info.ui.segment .about h2 {
  padding: 10px;
  font-family: 'Karla', sans-serif;
}

.image-info.ui.segment .about a {
  color: #716482;
}

.image-info.ui.segment .about a:hover {
  color: #6b6b6b;
}

/* PORTFOLIO PAGES */

.sub.header {
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-family: 'Scope One', serif;
}

.sub.header::after {
  margin: 40px auto;
  content: "";
  display: block;
  width: 100px;
  border-top: 1px solid #6b6b6b;
}

/* RESUME */

.template-resumepage a {
  color: #716482;
}

.template-resumepage a:hover {
  color: #6b6b6b;
}

.template-resumepage .ui.resume.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 16px;
}

@media(max-width:900px) {
  .template-resumepage .ui.resume.container {
    flex-direction: column;
  }
}

@media(max-width:900px) {
  .template-resumepage .ui.header {
    text-align: center;
  }
}

.template-resumepage .resume li {
  margin: 10px auto;
}

.template-resumepage .ui.header {
  margin-bottom: 40px;
  font-family: 'Karla', sans-serif;
}

 .resume .primary-content {
  max-width: 600px;
}

@media(max-width:900px) {
  .resume .primary-content {
    padding: 10px;
  }
}

.resume .sidebar {
 max-width: 300px;
 margin-left: 40px;
}

@media(max-width:900px) {
  .resume .sidebar {
    max-width: 100%;
  }
}

@media(max-width:900px) {
  .resume .sidebar h3 {
    text-align: center;
  }
}

@media(max-width:900px) {
  .resume .sidebar::before {
    margin: 40px auto;
    content: "";
    display: block;
    width: 100px;
    border-top: 1px solid #6b6b6b;
  }
}

/* blog */

.blog .post-index {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  height: 220px;
  margin: 80px auto;
  padding: 10px;
  font-size: 16px;
  overflow: hidden;
}

@media(max-width:1000px) {
  .blog .post-index {
    flex-direction: column;
    height: auto;
    max-width: 600px;
  }
}

.blog .post-index .preview.image {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

@media(max-width:1000px) {
  .blog .post-index .preview.image {
    margin-right: 0px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
  }
}

.blog .post-index .preview.image img {
  border-radius: 5px;
  width: 300px;
  height: 200px;
}

@media(max-width:1000px) {
  .blog .post-index .preview.image img {
    width: 100%;
    height: auto;
  }
}

.blog .post-index .preview.image img:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.blog .post-index .preview.content a {
  color: #716482;
}

.blog .post-index .preview.content a:hover {
  color: #6b6b6b;
}

.blogpost {
  max-width: 800px;
  margin: 0px auto;
  font-size: 18px;
}

.blogpost a {
  color: #716482;
}

.blogpost a:hover {
  color: #6b6b6b;
}

.blogpost .rich-text h4 {
  display: block;
  max-width: 60%;
  margin: 40px auto;
  font-size: 22px;
  font-style: italic;
  color: #3d3d3d;
  text-align: center;
}

@media(max-width:800px) {
  .blogpost .rich-text h4 {
    display: block;
    max-width: 90%;
  }
}

.blogpost .rich-text ol {
  max-width: 90%;
  margin: 20px auto;
}

.blogpost .rich-text li {
  padding: 10px;
}

.blogpost img {
  max-width: 800px;
}

@media(max-width:800px) {
  .blogpost img {
    max-width: 100%;
    padding: 20px;
  }
}

.blogpost img.full-width {
  margin: 25px auto;
  text-align: center;
}

.blogpost .rich-text img.left {
  max-width: 300px;
  height: auto;
  float:left;
  padding: 20px;
  margin-left: -80px;
}

.blogpost .rich-text img.right {
  max-width: 300px;
  height: auto;
  float:right;
  padding: 20px;
  margin-right: -80px;
}

@media(max-width:800px) {
  .blogpost .rich-text img {
    width: 100%;
    height: auto;
  }
}

@media(max-width:800px) {
  .blogpost .rich-text img.left {
    max-width: 100%;
    height: auto;
    float:none;
    padding: 20px;
    margin-left: 0px;
  }
}

@media(max-width:800px) {
  .blogpost .rich-text img.right {
    max-width: 100%;
    height: auto;
    float:none;
    padding: 20px;
    margin-right: 0px;
  }
}


/* FOOTER */

.footer.segment .footer.container {
  max-width: 1000px;
  margin: 20px auto;
  font-family: 'Scope One', serif;
}

footer .ui.footer .ui.inverted.link.list .item, .ui.inverted.link.list a.item {
  color: #d2c9de;
}

footer .ui.footer .ui.inverted.link.list .item:hover, .ui.inverted.link.list a.item {
  color: white;
}

footer a {
  color: #716482;
  border-bottom: 1px solid transparent;
  transition: all .35s ease-in-out;
}

footer a:hover {
  color: #716482;
  border-bottom: 1px solid #716482;
}

footer .patreon-widget {
  margin-top: 10px;
}
