{% load wagtailimages_tags %}

  <div class="ui card">
    <a href="{{ self.link }}" target="_blank">
      <div class="ui fluid image">
        {% image self.image fill-300x300 as image %}
        <img src="{{ image.url }}">
      </div>
      <div class="content">
        <div class="ui header">{{ self.headline }}</div>
        <div class="ui meta">
          <a>{{ self.subtitle }}</a>
        </div>
        <a href="{{ self.link }}" target="_blank">
          <div class="ui description">
            {{ self.body }}
          </div>
          <div class="ui extra content">
            <span>
              <i class="terminal icon"></i>
              {{ self.technologies }}
            </span>
          </div>
        </a>
      </div>
    </a>
  </div>
