{% load wagtailimages_tags %}

  <div class="ui card">
    {% for link in self.link %}
    <a href="{{ link.url }}">
      <div class="ui fluid image">
        {% image self.image fill-300x300 as image %}
        <img src="{{ image.url }}" alt="{{ image.alt }}">
      </div>
        <div class="ui content">
          <a href="{{ link.url }}">
            <div class="ui header">{{ self.headline }}</div>
            <div class="subtitle">
              {{ self.subtitle }}
            </div>
            <div class="ui description">
              {{ self.body }}
            </div>
          </a>
        </div>
    </a>
    {% endfor %}
  </div>
