{% load wagtailimages_tags %}

  <div class="ui card">
    <a href="{{ self.link }}" "{{ self.link }}" aria-label="{{ self.headline }}, {{ self.subtitle }}," target="_blank">
      <div class="ui fluid image">
        {% image self.image fill-300x300 as image %}
        <img src="{{ image.url }}" alt="{{ image.alt }}">
      </div>
      <div class="content">
        <div class="ui header">{{ self.headline }}</div>
        <div class="ui meta">
          {{ self.subtitle }}
        </div>
        <a href="{{ self.link }}" "{{ self.link }}" aria-label="{{ self.headline }}, {{ self.subtitle }}" target="_blank">
          <div class="ui description">
            {{ self.body }}
          </div>
          <div class="ui extra content">
            <span>
              <i class="terminal icon"></i>
              {{ self.technologies }}
            </span>
          </div>
        </a>
      </div>
    </a>
  </div>
