{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<!-- {% block body_class %}template-homepage{% endblock %} -->

{% block content %}
<div class="ui container">
  <h1 class="ui center aligned header main">{{ self.displaytitle }}</h1>
  <nav>
    {% for section in page.body %}
      <a href="/#section-{{section.value.slug}}">{{ section.value.headline }}</a>
    {% endfor %}
  </nav>

  <div class="ui container">
    {% include_block page.body %}
  </div>

</div>
{% endblock %}
