{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
        <link rel="stylesheet" href="//unpkg.com/semantic-ui@2.2.13/dist/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla:400i|Scope+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300" rel="stylesheet">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <a href="/">
          <div class="banner">
            <h1 class="header">M. K. Fain</h1>
          </div>
        </a>

        <div class="ui grey four item stackable menu">
          {% for item in request.site.root_page.get_children.live.in_menu %}
          <a class="item" href="{{ item.url }}">
            {{ item }}
          </a>
          {% endfor %}

        </div>

        <div class="main-content">
          {% block content %}{% endblock %}
        </div>

        <div class="ui inverted vertical footer segment">
          <div class="ui center aligned footer container">
            <div class="ui stackable inverted divided grid">
              <div class="five wide column">
                <h4 class="ui inverted header">Learn More</h4>
                <div class="ui inverted link list">
                  {% for item in request.site.root_page.get_children.live.in_menu %}
                  <a class="item" href="{{ item.url }}">
                    {{ item }}
                  </a>
                  {% endfor %}
                </div>
              </div>
              <div class="five wide column">
                <h4 class="ui inverted header">Stalker Links</h4>
                <div class="ui inverted link list">
                  <a href="https://github.com/marykatefain" class="item">GitHub</a>
                  <a href="https://gitlab.com/marykatefain" class="item">GitLab</a>
                  <a href="https://www.linkedin.com/in/marykatefain/" class="item">LinkedIn</a>
                </div>
              </div>
              <div class="five wide column">
                <h4 class="ui inverted header">Contact</h4>
                <div class="ui inverted link list">
                  <a href="mailto:mk@marykatefain.com" class="item">Email: mk@marykatefain.com</a>
                  <a href="https://riot.im/app/#/room/!dnAsfIIjrbXrcOXIpW:matrix.org" class="item">IRC: @marykatefain:matrix.org</a>
                </div>
              </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p>Sharing is caring. Licensed under the AGPL 3.0</p>
            </div>
          </div>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/website.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
