{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block body_class %}template-blogindex{% endblock %}

{% block content %}
{# <h2 class="ui header">{{ self.title }}</h2> #}

<div class="ui blog container">
  <h1>Blog</h1>
  <h3>This page contains a collection of my random writing that is not hosted on <a href="https://4w.pub" target="_blank">4W.pub</a>.</h3>
  <h3>Please check there to find most of my writing on feminism!</h3>
  <a href="https://4w.pub" target="_blank"><img src="/static/images/patreon-cover-min.png" width="600px"></a>
  <br />
  <br />
  <br />
  <h2>Other posts:</h2>
  {% for post in blog_pages %}
  <div class="post-index">
    <div class="preview image">
      {% image post.listing_image fill-600x400 as image %}
      {% if post.external_link %}
        <a href="{{ post.external_link }}" target="_blank">
      {% else %}
        <a href="{{ post.url }}">
      {% endif %}
        <img src="{{ image.url }}" alt="{{ image.alt }}">
      </a>
    </div>
    <div class="preview content">
      <h2>
        {% if post.external_link %}
          <a href="{{ post.external_link }}" target="_blank">
        {% else %}
          <a href="{{ post.url }}">
        {% endif %}
        {{ post.headline }}
          </a>
      </h2>
      {% if post.subtitle %}
        <h3>{{ post.subtitle }}</h3>
      {% endif %}
      <p>{{ post.first_published_at }}</p>
      <p>{{ post.body | richtext | truncatewords_html:35 }}</p>
    </div>
  </div>
  {% endfor %}
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"1997fac045064871f31872ae5","lid":"f5d3060c12","uniqueMethods":true}) })</script>
</div>
{% endblock %}
