{% extends "base.html" %}
{% load wagtailcore_tags static %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogpost{% endblock %}

{% block content %}
{# <h2 class="ui header">{{ self.title }}</h2> #}

<div class="ui blog container">
  <div class="blogpost">
    {% image self.listing_image fill-1000x600 as image %}
    <img src="{{ image.url }}" alt="{{ image.alt }}">
    <h2>{{ self.headline }}</h2>
    {% if self.subtitle %}
      <h3>{{ self.subtitle }}</h3>
    {% endif %}
    <p>{{ self.first_published_at }}</p>
    <p>{{ self.body | richtext }}</p>
  </div>
</div>
{% endblock %}

{% if page.tags.all.count %}
  {% for tag in page.tags.all %}
    <span>{{ tag }}</span>
  {% endfor %}
{% endif %}
