{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block body_class %}template-blogindex{% endblock %}

{% block content %}
<h2 class="ui header">{{ self.title }}</h2>

<div class="ui blog container">
  {% for post in blog_pages %}
    {% image post.listing_image fill-400x200 as image %}
    <img src="{{ image.url }}">
    <h2>{{ post.headline }}</h2>
    <h3>{{ post.subtitle }}</h3>
    <p>{{ post.first_published_at }}</p>
    <p>{{ post.body | safe }}</p>
  {% endfor %}
</div>
{% endblock %}
